# =========================

# OS

# =========================

.DS_Store
Thumbs.db

# =========================

# Python (vision)

# =========================

**pycache**/
*.py[cod]
*$py.class
*.so

# 가상환경

.env
.env.*
.venv
venv/
env/

# =========================

# AI 모델 (중요)

# =========================

*.h5
*.pt
*.pth
*.onnx

# =========================

# 데이터셋 (이미지/영상)

# =========================

*.jpg
*.jpeg
*.png
*.heic
*.bmp
*.mp4
*.avi

# =========================

# 로그 / 임시파일

# =========================

*.log
*.tmp

# =========================

# Jupyter Notebook

# =========================

.ipynb_checkpoints/

# =========================

# 임베디드 / 빌드 (control)

# =========================

build/
*.o
*.elf
*.bin
*.hex

# =========================

# IDE / 에디터

# =========================

.vscode/
.idea/

# =========================

# 기타

# =========================

*.swp
